<div class="//row btn-form">
  <div class="col-sm-12">
    <button (click)="goBack()" class="btn btn-primary" type="button"> <= Retour</button>
  </div>
</div>

<div class="title"> Test 6 :</div>

<div class="description">
  <div class="paragraphe">
    Ecrire un programme qui converti la structure de l'objet source ci-dessous vers celle de l'objet cible ci-dessous
  </div>
  <div class="paragraphe row">
    <div class="col-sm-6 show-code">
      <div class="terminal">
        <pre> objetSource = {{descripObjetSource | json}} </pre>
      </div>
    </div>
    <div class="col-sm-6 show-code">
      <div class="terminal">
        <pre> objetCible = {{descripObjetCible | json}} </pre>
      </div>
    </div>
  </div>
</div>

<div>
  <hr>
</div>

<div class="title"> Resolve :</div>

<div class="resolve-test" style="margin-bottom: 2rem;">

  <div class="row">
    <div class="col-sm-12 btn-form">
      <div class="form-group fill">
        <button (click)="convertir()" class="btn btn-primary" type="button"> => Voir le code <=</button>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="ifActionConvertir">

    <div class="col-sm-12">
      <div class="terminal-view-code" id="terminal">
        <pre id="view-code"></pre>
      </div>
    </div>
  </div>

</div>
