<div class="//row btn-form">
  <div class="col-sm-12">
    <button (click)="goBack()" class="btn btn-primary" type="button"> <= Retour</button>
  </div>
</div>

<div class="title"> Test 1 :</div>

<div class="description">
  <div class="paragraphe">
    Ecrivez un algorithme qui après avoir demandé un numéro de jour, de mois et d'année à l’utilisateur, renvoie s'il
    s'agit ou non d'une date valide.
  </div>
  <div class="paragraphe">
    Cet exercice est certes d’un manque d’originalité affligeant, mais après tout, en algorithmique comme ailleurs, il
    faut connaître ses classiques ! Et quand on a fait cela une fois dans sa vie, on apprécie pleinement l’existence
    d’un type numérique « date » dans certains langages…).
  </div>
  <div class="paragraphe">
    Il n'est sans doute pas inutile de rappeler rapidement que le mois de février compte 28 jours, sauf si l’année est
    bissextile, auquel cas il en compte 29. L’année est bissextile si elle est divisible par quatre. Toutefois, les
    années divisibles par 100 ne sont pas bissextiles, mais les années divisibles par 400 le sont. Ouf !
  </div>
  <div class="paragraphe">
    Un dernier petit détail : vous ne savez pas, pour l’instant, exprimer correctement en pseudo-code l’idée qu’un
    nombre A est divisible par un nombre B. Aussi, vous vous contenterez d’écrire en bons télégraphistes que A divisible
    par B se dit « A dp B ».
  </div>
</div>

<div>
  <hr>
</div>

<div class="title"> Resolve :</div>

<div class="message" *ngIf="message.text">
  <div class="alert" [ngClass]="{'alert-success': message.type, 'alert-danger': !message.type }" role="alert">
    {{message.text}}
  </div>
</div>

<div class="resolve-test">

  <form [formGroup]="formGroup">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group fill">
          <label class="custom-label-input" for="day"> * Jour </label>
          <input class="form-control custom-input" formControlName="day" id="day" placeholder="Entrez le jour"
                 type="number" required>

          <!--<ng-container *ngFor="let validation of validationMessages.contact">
                <span *ngIf="numeroAbonnementForm?.controls?.numero.hasError(validation.type) && (numeroAbonnementForm?.controls?.numero.dirty ||
                numeroAbonnementForm?.controls?.numero.touched)"
                      class="error-message-validator flex-row-start">
                    {{ validation.message }}
                </span>
          </ng-container>-->
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group fill">
          <label class="custom-label-input" for="month"> * Mois </label>
          <input class="form-control custom-input" formControlName="month" id="month" placeholder="Entrez le mois"
                 type="number" required>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group fill">
          <label class="custom-label-input" for="year"> * Année </label>
          <input class="form-control custom-input" formControlName="year" id="year" placeholder="Entrez l'année"
                 type="number" required>
        </div>
      </div>

      <div class="col-sm-12 btn-form">
        <div class="form-group fill">
          <button (click)="saveFormulaire()" [disabled]="!formGroup?.valid" class="btn btn-primary" type="button">
            Soumettre
          </button>
        </div>
      </div>
    </div>
  </form>

</div>
