.list-number {
  display: flex;
  flex-flow: row;
}

.show-code {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}
