<div class="//row btn-form">
  <div class="col-sm-12">
    <button (click)="goBack()" class="btn btn-primary" type="button"> <= Retour</button>
  </div>
</div>

<div class="title"> Test 2 :</div>

<div class="description">
  <div class="paragraphe">
    Ecrire un programme qui fait saisir par l’utilisateur 20 valeurs dans un tableau de 20 cases, puis qui demande
    ensuite un 21e nombre.
  </div>
  <div class="paragraphe">
    Le programme doit rechercher si ce nombre fait ou non partie des 20 valeurs précédemment saisies dans le tableau.
  </div>
</div>

<div>
  <hr>
</div>

<div class="title"> Resolve :</div>

<div class="message" *ngIf="message.text">
  <div class="alert" [ngClass]="{'alert-success': message.type, 'alert-danger': !message.type }" role="alert">
    {{message.text}}
  </div>

  <!--<div class="list-number">
    <div *ngFor="let value of listValue"><span> &nbsp;_ {{value}}</span></div>
  </div>-->
</div>


<div class="resolve-test">

  <form [formGroup]="formGroup" (ngSubmit)="saveFormulaire()">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group fill">
          <label class="custom-label-input" for="value"> * Valuer {{listValue.length + 1}} </label>
          <input class="form-control custom-input" formControlName="value" id="value" placeholder="Entrez la valeur {{listValue.length + 1}}"
                 type="number" required>

          <!--<ng-container *ngFor="let validation of validationMessages.contact">
                <span *ngIf="numeroAbonnementForm?.controls?.numero.hasError(validation.type) && (numeroAbonnementForm?.controls?.numero.dirty ||
                numeroAbonnementForm?.controls?.numero.touched)"
                      class="error-message-validator flex-row-start">
                    {{ validation.message }}
                </span>
          </ng-container>-->
        </div>
      </div>

      <div class="col-sm-3 btn-form">
        <div class="form-group fill">
          <button (click)="saveFormulaire()" [disabled]="!formGroup?.valid" class="btn btn-primary" type="button">
            Soumettre
          </button>
        </div>
      </div>

      <div class="col-sm-3 btn-form">
        <div class="form-group fill">
          <button (click)="resetFormulaire()" class="btn btn-danger" type="button">
            Reset
          </button>
        </div>
      </div>
    </div>
  </form>

</div>
