/* You can add global styles to this file, and also import other style files */

// main framework
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// bootstrap
@import "~bootstrap/scss/bootstrap";

/*
"styles": [
"node_modules/bootstrap/dist/css/bootstrap.min.css",
"styles.css"
],
"scripts": [
"node_modules/jquery/dist/jquery.min.js",
"node_modules/popper.js/dist/umd/popper.min.js",
"node_modules/bootstrap/dist/js/bootstrap.min.js"
],*/


.title {
  font-weight: bold;
  font-size: 2rem;

  margin-bottom: 1rem;
  text-align: center;
}

.description {
  padding: 0 2rem;

  .paragraphe {
    padding-bottom: .5rem;
  }
}

.resolve-test {
  padding: 0 2rem;
}

.btn-form {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

.message {
  padding: 0 1rem 1rem 1rem;
}


.terminal {
  position: relative;
  width: 80%;
  //max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.terminal-view-code {
  position: relative;
  width: 100%;
  //max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal-view-code::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal-view-code pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}
